<!DOCTYPE html>
<html>
<head>
    <title>Real Time Twitter Sentiment</title>
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../../bower_components/rickshaw/src/css/detail.css">
    <link type="text/css" rel="stylesheet" href="../../bower_components/rickshaw/src/css/graph.css">
    <link type="text/css" rel="stylesheet" href="../../bower_components/rickshaw/src/css/legend.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../bower_components/rickshaw/vendor/d3.v3.js" type="text/javascript" charset="utf-8"></script>
    <script src="../bower_components/rickshaw/rickshaw.js" type="text/javascript" charset="utf-8"></script>
</head>

<style>
    .header  {
        display: inline-block;
        font-size: 20px;
        font-family: Arial;
        margin: 0 auto;
        text-align: center;
        width: 900px;
    }

    .subText {
        font-size: 15px;
        margin-bottom: 30px;
        display: inline-block;
        font-family: Arial;
        margin: 0 auto;
        text-align: center;
        width: 900px;
        margin-bottom: 20px;
    }
</style>

<body>
<div class="container">
    <div class="header">Real Time English Tweet Sentiment Analysis</div>
    <div class="subText">(What's Twitter's current mood)</div>
    <div id="chart_container" style="width: 1300px; float: left;">
       <div id="chart" style="float: left; width: 900px;"></div>
    </div>
    <div style="clear: both"></div>
    <div id="legend" style="margin-top: 15px;"></div>


    <script type="text/javascript" charset="utf-8">
      var timeInterval = 1000;
      var url = "http://localhost:3000/data";

      // instantiate our graph!
      var graph = new Rickshaw.Graph({
        element: document.getElementById("chart"),
        width: 900,
        height: 500,
        renderer: 'line',
        series: new Rickshaw.Series.FixedDuration([{ name: 'Mood', color: 'steelblue' }], undefined, {
          timeInterval: timeInterval,
          maxDataPoints: 100,
        }),
        min: -10,
        max: 10,
      });

      graph.render();

      var ticksTreatment = 'glow';
      var xAxis = new Rickshaw.Graph.Axis.Time( {
        graph: graph,
        ticksTreatment: ticksTreatment,
        timeFixture: new Rickshaw.Fixtures.Time.Local()
      } );

      xAxis.render();

      var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        ticksTreatment: ticksTreatment,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT
      });
      yAxis.render();

      var legend = new Rickshaw.Graph.Legend( {
        graph: graph,
        element: document.getElementById('legend')
      } );

      // Fetch data every X seconds.
      var nextIterator = null;
      setInterval(function() {
        $.getJSON(url+'?nextIterator='+encodeURIComponent(nextIterator), function(data) {
          nextIterator = data.nextIterator;
          graph.series.addData({
            Mood: data.Mood
          });
          graph.render();
        });
      }, timeInterval);
    </script>
</div>
</body>
</html>